body {
    background-color: #ccc;
}

.container {
    background-color: #fff;
    border-radius: 0.5em;
}

.flash-messages {
    padding: 1em;
    border-radius: 0.5em;
    margin: 0;
    font-size: 1.5em;
}

