{% extends "layout.html" %}
{% block body %}
<div class='main'>
{% if error %}<p class='error'><strong>Error:</strong> {{ error }}{% endif %}

    <h3> Upload a file to be printed. Allowed types: .pdf, .txt, .jpg, .png </h3>
    <div class="uploadform">
        <form action="" method='post' enctype='multipart/form-data' class='fileupload'>
            <input type='file' name='file'>
            <br>
            <input type='submit' value='Upload'>
        </form>
    </div>
    <div class="recentprints">
        <h3>Recent Prints</h3>
        TODO
    </div>
</div>
{% endblock %}
